.title_section {
  padding: 3rem 0 0 6rem;
  text-align: center;
}
.title_section h2 {
  color: var(--color-base);
}
.services-section {
  padding: 2rem 4rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.services-section .option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
.curved {
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  gap: 2rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: var(--color-black);
  transition: transform 0.3s, background-color 0.3s;
}
.curved:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.services-section .option:nth-child(even) .option-content {
  order: 2;
}

.services-section .option:nth-child(even) .option-img {
  order: 1;
}

.services-section .option:nth-child(odd) .option-content {
  order: 1;
}

.services-section .option:nth-child(odd) .option-img {
  order: 2;
}

.services-section .option .option-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}
.services-section .option .option-content h3 {
  color: var(--color-base);
}
.services-section .option .option-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section .option img {
  width: 40%;
}

/* ---- media query----- */

@media (max-width: 992px) {
  .title_section {
    padding: 3rem 0 0 4rem;
  }
  .services-section {
    padding: 3rem 2rem;
  }
  .options-container {
    padding: 1rem;
  }
  .services-section .option .option-content {
    padding: 0;
  }
  .services-section .option img {
    width: 50%;
  }
}
/* Estilos para versión de tablet */
@media (max-width: 768px) {
  .title_section {
    padding: 3rem 0 0 1rem;
  }
  .services-section {
    padding: 3rem 1rem;
  }
  .options-container {
    padding: 2rem;
  }
  .services-section .option {
    grid-template-columns: repeat(1, 1fr);
  }
  .services-section .option .option-content {
    order: 1;
  }
  .services-section .option .option-img {
    order: 2;
  }
  .services-section .option:nth-child(even) .option-content,
  .services-section .option:nth-child(even) .option-img,
  .services-section .option:nth-child(odd) .option-content,
  .services-section .option:nth-child(odd) .option-img {
    order: initial;
  }
}
